:root{
    --bar-height: 72px;
    --color-primary: #303033;
    --color-primary-light: #A9A9A9;
    --color-text: #CFCFCF;
    --color-text-light: #FFFFFF;
    --background-gradient-blue: linear-gradient(to bottom right, #000012, #000051)
    --background-gray: #232323;
    --background-gray-light: #2C3037;
}

body{
    margin: 0;
    font-family: 'Metropolis', sans-serif;
}

.header{
    height: 100vh;
    background: var(--background-gray-light);
    display: flex;
    align-items: center;
    padding-top: var(--bar-height);
    box-sizing: border-box;
}

.top-center{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
}

.continuar-de-onde-parou{
    padding: 32px;
    box-sizing: border-box;
}

.continuar-de-onde-parou__title{
    margin-top: 0;
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--color-text-light);
}

.bar{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--bar-height);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    background-color: var(--background-gradient-blue);
}


.bar__content{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar__logo{
    height: 100%;
}