body{
    --color-primary: #f7a76c;
    --color-primary-dark: #FF9551;
    --color-secondary: #874C62;
    --color-error: #EC7272;
    --color-success: #4bb544;
    --border-radius: 4px;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 18px;
    background: var(--color-primary);
    background-size: cover;
}

.container{
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #fff;
}

.container,
.form__input,
.form__button{
    font: 500 1rem 'Quicksand', sans-serif;
}